* {
    margin: 0;
    font-family: sans-serif;
}

/* first part style */
.first-section {

    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    padding-right: 230px;
    padding-top: 216px;
    padding-bottom: 166px;


}

h1 {
    font-size: 65px;
    text-align: right;
    padding: 13px;

}

.first-description {

    font-weight: 400;
    font-size: 16px;
    padding-bottom: 43px;
}

.contact {

    background: #F15B22;
    color: #FFFFFF;
    padding: 20px 25px;
    border-radius: 5px;
    border-style: none;

}

/* second part style */

.header {

    background-position: bottom right, left;
    display: flex
}

.second-title {
    padding-top: 170px;
    font-weight: 700;
    font-size: 40px;
    padding-left: 350px;
}

.second-description {
    padding-top: 24px;
    padding-bottom: 16px;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    padding-left: 350px;
}

.second {
    padding-left: 350px;
    list-style: none;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
}

/* habit part */



.my-plan {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;

}

.my-plan a {
    text-decoration: none;
}

.habit {
    color: #737272;
}

.title {
    font-weight: 700;
    font-size: 30px;
    padding-top: 20px;
}

.habit {
    padding-top: 16px;
}

.plan {
    text-align: center;

}

.goal {
    font-weight: 700;
    font-size: 40px;
    padding-top: 130px;
}

/* watch picture and color gradient */

.watch {
    background-position: center;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    background-size: 1400px;
    background-repeat: no-repeat;
    margin-top: 130px;
    padding: 115px 230px;


}

.life {

    padding-left: 80px;
}

.btn {
    background: #FFFFFF;
    color: #F15B22;
    padding: 20px 25px;
    border-radius: 5px;
    border-style: none;
    font-weight: 600;
    font-size: 20px;

}

.mind {
    padding-bottom: 24px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
}

.end{
    background-color: black;
    margin-top: 130px;
    display: flex;
    
    
}

.connect{
    color: #F8F8F8;
    padding-top: 130px;
    padding-left: 260px;
}

.end-title{
    padding-bottom: 16px;
    font-weight: 700;
font-size: 45px

}
.end-p{
    padding-bottom: 24px;
    font-weight: 400;
font-size: 16px;
}

.end-icon{
    display: inline;
    text-decoration: none;
}

.right-side{
    
    justify-content: right;
     margin-left: 500px;
    
}



h4{
    font-weight: 600;
font-size: 25px;
}

.email{
    padding-top: 20px;
    padding-bottom: 10px;
}

